$sans-serif-article: 'Nunito', sans-serif;
$sans-serif-article-2: 'Varela Round', sans-serif;

$accent-color: #581845;
$accent-secondary:  #900C3F;
$nav-height: 50px;

$light-gray: transparentize($base-font-color, .6);
